.c1{
	position: relative;
	top:10px;
}
.c2{
	height: 410px;
	width: 100%;
}
.shang1{
	height: 580px;
	width: 100%;
}
.c3{
	background-color: #0d111c;
	opacity: 0.5;
	width: 224px;
	height: 460px;
	position: absolute;
	z-index: 2;
}
.c4{
	width: 1200px;
	height: 460px;
	position: relative;
	top: 10px;
	margin:auto;
	background-color: #ccc;
}
.c5{
	width: 176px;
	height: 64px;
	border-bottom: 1px solid;
	color: #fff;
	margin:auto;
}
.c6{
	color: #fff;
	padding: 0 24px;
	position: relative;
	top: 24px;
}
.c7{
	margin:auto;
}
.c8{
	color: #fff;
	position: relative;
	top: 24px;
}
.c9{
	width: 176px;
	height: 64px;
	color: #fff;
	margin:auto;
}
#container{
	width: 1200px;
	height: 460px;
	overflow: hidden;
	position: relative;
	top: 10px;
	margin:auto;
}
#list{
	width: 8400px;
	height: 460px;
	position: absolute;
	z-index: 1;
}
#list img{
	float: left;
}
#buttons{
	position: absolute;
	bottom: 24px;
	right: 20px;
	z-index: 2;
}
#buttons span{
	cursor: pointer;
	float: left;
	border: 2px solid #fff;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin-left: 10px;
}
#buttons.on{
	background: #fff;
}
.arrow{
	cursor: pointer;
	font-weight: bold;
	width: 40px; 
	height: 80px;
	line-height: 39px; 
	text-align: center; 
	margin:auto;
	font-size: 36px;
	background-position: center;
	position: absolute;
	top: 50%;
	z-index: 2;
	background-color: RGBA(0,0,0,0);
}
.arrow: hover{
background-color: RGBA(0,0,0,0.7);
}
#container:hover .arrow { 
	display: block;
}
#prev{ 
	left: 250px;
	color: #fff;
}
#next{ 
	right: 20px;
	color: #fff;
}
.c10{
	padding: 20px;
}
.c11{
	color: #ccc;
	font-size: 12px;
	float: right;
}
.c12{
	width: 260px;
	height: 40px;
	margin: auto;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.c13{
	padding-top: 50px;
	padding-left:25px; 
	width: 150px;
	height: 110px;
	border-bottom: 1px solid #ccc;
	margin: auto;
	font-size: 15px;
}
.c14{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: 30px;
}
.c15{
	height: 110px;
	width: 260px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	line-height: 30px;
	margin-bottom: 16px;
	font-size: 12px;
	color: #f01414;
}
.c16{
	color: #ccc;
}
.c17{
	width: 260px;
	height: 40px;
	font-size: 12px;
	
}
.c18{
	color: #ccc;
	float: left;
	padding-top: 15px;
}
.c19{
	width: 90px;
	height: 35px;
	border:none;
	float: right;
	font-weight: bold;
	padding-top: 12px;
	background-color: #f01414;
	color: #fff;
}
.c20{
	position: relative;
	top: -5px;
}
.d1{
	width: 100%;
	height: 170px;
	background-color: #f4f2f2;
	position: relative;
	top: -50px;
}
.d2{
	width: 1200px;
	height: 120px;
	margin:auto;
	background-color: #fff;
	position: relative;
	top: 50px;
}
.d3{
	width: 234px;
	height: 120px;
	border:0px;
	float: left;
	padding-top: 5px;
}
.d4{
	border:0px;
	width: 321px;
	height: 120px;
	float: left;
	padding-top: 5px;
}
.d5{
	border:0px;
	width: 322px;
	height: 120px;
	float: left;
	padding-top: 5px;
}
.d3:hover{
	padding-top: 0px;
}
.d4:hover{
	padding-top:0px; 
}
.d5:hover{
	padding-top: 0px;
}

